doctype html
html
    head
        title user
    body
        h1 Le user
        p id = #{user.dataValues.id}, Pseudo = #{user.dataValues.pseudo}
        p Password : #{user.dataValues.password}
        p Créé le #{user.dataValues.createdAt}
        p Update le #{user.dataValues.updatedAt}